# This is a basic workflow to help you get started with Actions

name: demo

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  workflow_call:


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  # This workflow contains a single job called "build"
  checkout:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.

  docker-job:
    runs-on: ubuntu-latest
    steps:
      # - uses: actions/checkout@v4

      - name: Run Docker Action
        id: my-docker
        uses: open-appdev-lab/ansible-collections-ci/.github/actions/dummy-container-task
        with:
          who-to-greet: 'Container User'

      - name: View Output
        run: echo "The container used memory ${{ steps.my-docker.outputs.memory }}"