# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  job-with-custom-action:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4

        - name: Run local action
          id: custom-action1
          uses: ./.github/actions/custom_secret_detection
          with:
            placeholder-input1: 'GitHub Actions'

        - name: Print Output
          run: echo " The random number was ${{ steps.custom-action1.outputs.placeholder-output1 }}"


  # This workflow contains a single job called "build"
  checkout:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    needs: [job-with-custom-action]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.

  custom_secret_detection:
    runs-on: ubuntu-latest
    needs: [checkout]
    steps:
      - run: echo "stage secret"

  job-semver-next:
    runs-on: ubuntu-latest
    needs: [custom_secret_detection]
    steps:
      - run: echo "stage prepare"

  job-ansible-validate-tokens:
    runs-on: ubuntu-latest
    needs: [custom_secret_detection]
    steps:
      - run: echo "stage prepare"

  job-ansible-collection-install:
    runs-on: ubuntu-latest
    needs: [custom_secret_detection]
    steps:
      - run: echo "stage prepare"

  secret_detection:
    runs-on: ubuntu-latest
    needs: [job-semver-next,job-ansible-validate-tokens,job-ansible-collection-install]
    steps:
      - run: echo "stage test"

  automation-hub-verify-ansible-lint:
    runs-on: ubuntu-latest
    needs: [job-semver-next,job-ansible-validate-tokens,job-ansible-collection-install]
    steps:
      - run: echo "stage test"

  job-ansible-tox-sanity:
    runs-on: ubuntu-latest
    needs: [job-semver-next,job-ansible-validate-tokens,job-ansible-collection-install]
    steps:
      - run: echo "stage test"

  job-ansible-tox-integration:
    runs-on: ubuntu-latest
    needs: [job-semver-next,job-ansible-validate-tokens,job-ansible-collection-install]
    steps:
      - run: echo "stage test"

  job-ansible-codeclimate:
    runs-on: ubuntu-latest
    needs: [secret_detection,automation-hub-verify-ansible-lint,job-ansible-tox-sanity,job-ansible-tox-integration]
    steps:
      - run: echo "stage report"

  job-semantic_release:
    runs-on: ubuntu-latest
    needs: [job-ansible-codeclimate]
    steps:
      - run: echo "stage release"

  job-gitlab-package-publisher:
    runs-on: ubuntu-latest
    needs: [job-semantic_release]
    steps:
      - run: echo "stage publish"
