name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:


# ------------------------------------------------------------------
# GLOBAL CONCURRENCY (Save Money)
# ------------------------------------------------------------------
# If you push to a PR branch twice quickly, this kills the old run.
# Ideally, we only want to cancel PR builds, not main branch deploys.
# This logic says: "If it's a PR, use the ref as the ID. If it's main, use the run ID (unique)."
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.run_id }}
  cancel-in-progress: true

jobs:
  secrets:
    uses: ./.github/workflows/_secrets-stage.yml
    # with:
    #   environment: 'staging'
    # secrets_
    #   API_KEY: ${{ secrets.STAGING_KEY }}

  prepare:
    needs: secrets
    uses: ./.github/workflows/_prepare-stage.yml
    # with:
    #   environment: 'staging'
    # secrets_
    #   API_KEY: ${{ secrets.STAGING_KEY }}

  test:
    needs: prepare
    uses: ./.github/workflows/_test-stage.yml
    # with:
    #   environment: 'staging'
    # secrets_
    #   API_KEY: ${{ secrets.STAGING_KEY }}

  report:
    needs: test
    uses: ./.github/workflows/_report-stage.yml
    # with:
    #   environment: 'staging'
    # secrets_
    #   API_KEY: ${{ secrets.STAGING_KEY }}

  release:
    # if: github.ref == 'refs/heads/main'
    needs: report
    uses: ./.github/workflows/_release-stage.yml
    # with:
    #   environment: 'staging'
    # secrets_
    #   API_KEY: ${{ secrets.STAGING_KEY }}

  publish:
    # if: github.ref == 'refs/heads/main'
    needs: release
    uses: ./.github/workflows/_publish-stage.yml
    # with:
    #   environment: 'production'
    # secrets_
    #   API_KEY: ${{ secrets.STAGING_KEY }}

    # Binds this job to the 'production' environment settings
    # environment: 
    #   name: production
    #   url: https://my-prod.com
  # -------------------------------------------------------
    # CONCURRENCY GROUP
    # -------------------------------------------------------
    concurrency:
      # Create a unique lock ID. Hardcoding 'production' ensures 
      # NO other workflow can touch prod while this runs.
      group: production-deployment
      
      # FALSE = "Wait in line" (Good for Deployments)
      # TRUE  = "Kill the previous run" (Good for PR Builds)
      cancel-in-progress: false