name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  secrets:
    uses: ./.github/workflows/_dummy-stage.yml
    # with:
    #   environment: 'staging'
    # secrets_
    #   API_KEY: ${{ secrets.STAGING_KEY }}

  prepare:
    needs: secrets
    uses: ./.github/workflows/_dummy-stage.yml
    # with:
    #   environment: 'staging'
    # secrets_
    #   API_KEY: ${{ secrets.STAGING_KEY }}

  test:
    needs: prepare
    uses: ./.github/workflows/_dummy-stage.yml
    # with:
    #   environment: 'staging'
    # secrets_
    #   API_KEY: ${{ secrets.STAGING_KEY }}

  report:
    needs: test
    uses: ./.github/workflows/_dummy-stage.yml
    # with:
    #   environment: 'staging'
    # secrets_
    #   API_KEY: ${{ secrets.STAGING_KEY }}

  release:
    needs: report
    uses: ./.github/workflows/_dummy-stage.yml
    # with:
    #   environment: 'staging'
    # secrets_
    #   API_KEY: ${{ secrets.STAGING_KEY }}

  publish:
    needs: report
    uses: ./.github/workflows/_dummy-stage.yml
    # with:
    #   environment: 'staging'
    # secrets_
    #   API_KEY: ${{ secrets.STAGING_KEY }}
